*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: fonte;
    src: url(../Fonts/IrishGrover-Regular.ttf);
}

@font-face {
    font-family: fonte2;
    src: url(../Fonts/IstokWeb-Bold.ttf);
}

@font-face {
    font-family: fonte3;
    src: url(../Fonts/RadioCanadaBig-Bold.ttf);
}

.body{
    background-color: #000000;
}

html{
    scroll-behavior: smooth;
}

.centralizer{

    display: flex;
    flex-direction: row;
    background-color: #1E1E1E;
    color: #ffff;
    justify-content: space-around;
    font-family: fonte;
    height: 5em;
    width: 100%; 
    align-items: center;
    position: fixed;
    z-index: 999;
}

.logo{
    font-size: 23px;
}

.itens{
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 23px;
}


.efeito a{
    cursor: pointer;
    color: #ffff;
    text-decoration: none;
}

.efeito a:hover{
    cursor: pointer;
    color: #f7f200;
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/teste.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;    
}

.back h1{
    color: #f7f200;
    font-size: 46px ;
    font-family: fonte;
    letter-spacing: 5px;
    padding-bottom: 2em;
}

.sobre{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    align-items: center;
    background-color: #092341;
    text-align: center;
    padding: 7em;

}

.sobre img{
    height: 20em;
    border-radius: 10em;
    margin-right: 1em;
}


.txt{
    color: #ffff;
    font-family: fonte3;
    width: 30em;
    font-size: 1.2em;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.txt p{
    padding: 1em;
    line-height: 28px;
    text-align: justify;
}


.alinhamento-bt{
    display: flex;
    justify-content: end;
}

.alinhamento-bt button{
    color: #ffff;
    border: none;
    background-color: #0B37D5;
    padding: 1em;
    font-family: fonte2;
    font-size: 1em;
    width: 7em;
    border-radius: 10px;

}

.alinhamento-bt button:hover{
    cursor: pointer;
    background-color: #2f53d4;
    box-shadow: rgb(45, 44, 136) -5px 10px;
    transition: ease-in-out 300ms;
}



.feitos{
    display: flex;
    flex-direction: column;
    background-color: #070707;
    align-items: center;
    gap: 2em;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 3em;

}

.titulo{
    font-family: fonte;
    font-size: 2.5em;
    color: #fff;
}

.card1{
    display: flex;
    background-color: #D9D9D9; 
    border-radius: 1em 0em;
    width: 25em;
    padding: 1em;

}

.card1:hover{
    cursor: pointer;
    box-shadow: rgb(11, 55, 213) -5px 10px;;
}


.lg-menor{
    width: 4.3em;
    height: auto;
    
    border-radius: 10em;
    margin-right: 1em;
}

.lg-menor img{
    width: 4em;
}

.conteudo{
    font-family: fonte3;
}

.ferramenta{
    color: #636363;
    font-style: italic;
}

.ferramenta a{
    text-decoration: none;
    color: #0B37D5;

}

.ferramenta a:hover{
    text-decoration: underline;
}

.saiba{
    font-family: fonte2;
    font-style: italic;
    color: #cccccc;

}

.saiba a {

    text-decoration: none;
    color:#30558b;    
}

.saiba a:hover{
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.1em;   
}


.objetivos{
    background-color: #092341;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    padding: 6em;
    gap: 3em;
}

.tech{
    display: flex;
    flex-direction: row;
 

}

.tecnologies{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.imagem{
    height: 5em;
}

.tecnologies :nth-child(2){
    transition-delay: 200ms;
}

.tecnologies :nth-child(3){
    transition-delay: 400ms;
}

.tecnologies :nth-child(4){
    transition-delay: 600ms;
}


.obj{
    font-family: fonte;
    color: #ffff;
    font-size: 2.5em;
    padding-top: 1em;
}

.txt-obj{
    width: 30em;
    font-family: fonte3;
    font-size: 1.2em;
    color: #ffff;

}


.contato{
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}


.ttl{
    font-family: fonte;
    color: #ffff;
    font-size: 2.5em;
    padding-top: 1em;
    margin-left: 4em;
}


.cnt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10em;
    padding: 2em;

}

.txt-cnt{
    display: flex;
    align-items: center;
    font-family: fonte3;
    color: #ffff;
    width: 16em;
    font-size: 1.3em;
    margin-bottom: 2em;
    
}


.formas{
    display: flex;
    flex-direction: column;
    
    gap: 2em;
}

.formas img{
    height: 2.2em;
}

.disp{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    
}

.disp p{
    font-family: fonte3;
    color: #ffff;
    font-size: 1.2em;
    font-style: italic;
}

.disp p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.disp a{
    color: #ffff;
    text-decoration: none;
}



.footer{
    display: flex;
    justify-content: center;
    padding: 1.5em;
    font-size: 1.2em;
    
    font-family: fonte;
    color: #ffff;
    background-color: #000;
}

body{
    background-color: #000000;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transition: all 2.5s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    filter: blur(0px);
    transition: all 2.5;
    transform: translateX(0);
}



/* -----------------Responsividade--------------------------- */

@media screen and (max-width: 904px){

    .sobre{
        display: flex;
        flex-direction: column;
    }

    .objetivos{
        display: flex;
        flex-direction: column;

    }
    .txt-obj{
        width: auto;
    }

}

@media screen and (max-width: 861px){

    .back h1{
        font-size: 38px;
    }


}


@media screen and (max-width: 753px){

    .back h1{
        font-size: 32px;
    }


}

@media screen and (max-width: 660px){

    .centralizer{
        flex-direction: column;
        
    }


    .back h1{
        font-size: 28px;
        width: 10.7em;
        text-align: center;
    }


}


@media screen and (max-width: 615px){

    .txt{
        width: 20em;
    }

    .itens{
        font-size: 18px ;
    }

    .objetivos{
        justify-content: center;
    }

    .txt-obj{
        
        width: 13em;
        padding: 0;
    }

    .cnt{
        flex-direction: column;    
        gap: 0;    
    }
    .ttl{
        font-size: 30px;
    }

    .txt-cnt{
      margin-bottom: 0px;
    }

    .formas{
        gap: 0;
    }

    .alinhamento-bt{
        justify-content: center;
    }

    .card1{
        width: 22em;

    }


}


@media screen and (max-width: 500px){
    .back h1{
        width: 13em;
        text-align: center;

    }
}






